/* *******************************************
****** PROJECT SETUP
******************************************* */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=MedievalSharp&family=Staatliches&family=Yellowtail&display=swap');

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: 'Yellowtail', cursive; serif;
  --text: 'Staatliches', cursive; aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

body {
  font-family: var(--text);
}

/* *******************************************
****** PROJECT STYLES
******************************************* */
.troll {
  color: rgba(0, 0, 0, .3);
  font-style: italic;
  text-decoration: underline;
  font-size: 5px;
}

.troll:hover {
  color: #10a5f5;
}

@media screen and (max-width: 999px) {

header nav {
  display: flex;
  width: 90%;
  background-color: #10a5F5;
  margin: 20px auto;
  padding: 10px;
  justify-content: space-between;
}  

header nav h1 {
  color: #fafbfd;
  font-size: 30px;
  font-weight: 100;
}

header nav #menu {
  color: #7b838e;
  display: flex;
  padding: 5px;
}

header nav div a {
  color: #7b838e;
  font-size: larger;
  text-decoration: none;

}

header nav div a article {
  margin: 5px;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans', sans-serif;
}

header nav div a article:hover{
  color: #dca7b8;
  cursor: pointer;
}


/* h1 {
  color: #7b838e;
  text-align: center;
} */

body {
  background-color: #10A5F5;
  color: #000000;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .1);
}

body::-webkit-scrollbar-thumb {
  background: #7b838e;
}

/* li {
  display: inline;
}

li:hover{
  color: #dca7b8;
  cursor: pointer;
}

ul {
  background: rgb(51, 50, 50);
  border-radius: 15px;
  color: rgb(158, 154, 154);
  padding: 15px;
  position: sticky;

} */

.about {
 background-color: #f7a350;
 border: 1px solid;
 padding: 15px;
 border-radius: 30px;

}

.projects {
  background-color: #dca7b8;
  border: 1px solid;
  padding: 15px;
  margin-top: 25%;
  border-radius: 30px;

  } 

  .contact {
    background-color: #ed431d;
    border: 1px solid;
    padding: 15px;
    margin-top: 25%;
    margin-bottom: 50px;
    border-radius: 30px;

  }
}
@media screen and (min-width: 1000px) { 

body {
  background-image: url(https://vignette2.wikia.nocookie.net/overlordmaruyama/images/c/c7/Throne_Hall.png/revision/latest?cb=20150714104942);
  background-position: 50% 0;
  }

  h1 {
    /* color: rgba(255, 255, 255, 0.3); */
    text-align: center;
    font-size: 25px;
    font-family: MedievalSharp;
  }

  * {
    color: white;
  }
}